@charset "utf-8";

/* ************************************************************
 * SP
 * ************************************************************ */
 
.l-main {
	max-width: 700px;
	margin: 0 auto;
	padding: 4rem 1rem;
}

.l-main h2 {
	align-items: center;
	display: flex;
	font-size: 5rem;
	height: 100vh;
	justify-content: center;
	line-height: 1.5;
	max-width: 100%;
	min-height: 300px;
	text-align: center;
	width: 100vw;
}

/* ************************************************************
 * PC
 * ************************************************************ */

@media (min-width: 1200px) {
	
	.l-main h2 {
		font-size: 8rem;
	}
	
}